.level {
  height: 780px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  box-sizing: border-box;
}

.level:hover {
  border: 1px solid rgb(67, 29, 172);
}
