.char {
  width: 80px;
  height: 80px;
  margin: auto 10px;
}

.listChars {
  list-style: none;
  display: flex;
  justify-content: center;
}

.found {
  opacity: 0.3;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 50px;
}
